.card-features
{
	border: solid 1px;
	padding: 30px;
	position: relative;
  	height: 200px;
  	border-radius: 30px;
  	overflow: auto; /* need to find the fucking way */
}

.card-small {
	padding: 20px;
  font-weight: lighter;
  border: solid 1px;
  border-radius: 10px;
}